@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss"; 


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-slate-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
